body{
    margin: 0;
    padding: 0;
    background-color: #14746f;
}


.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}

.register-container{
    background-color: #248277;
    padding: 10px;
    border: 2px solid #036666;
    border-radius: 5px;
}

.register-container label{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}
.register-container input{
    border-radius: 7px;
}
.register-container a{
    margin-top: 10px;
    text-decoration: none;
    color: #012c2c;
    border: 1px solid #056339;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 2px 2px;
    transition: 1s;
}
.register-container a:hover{
    
    box-shadow: 1px 1px ;
}

.register-container button{
    padding: 3px;
    margin-top: 10px;
    margin-left: 60px;
    border-color: #fff;
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px;
    background-color: #054c44;
    transition: 1s;
}
.register-container button:hover{
    box-shadow: 1px 1px;
}
